body{
    margin: 0px;
    font-family: Arial;
    background-color: #f7f7f7;
    margin-top: 50px;
    justify-items: center;
    display: grid;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu p{
    text-transform: uppercase;
    color: #2d2d2d;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px;
    max-width: 1000px;
}

.info{
    display: grid;
    justify-items: end;
    background-color: white;
    text-align: right;
    padding: 50px;
    align-content: center;
}

.info p{
    font-size: 20px;
}

.info .button{
    background-color: #ee2211;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

.grid img{
    max-width: 100%;
}