body{
    justify-items: center;
    display: grid;
    margin: 0px;
    font-family: Arial;
    background-color: #f7f7f7;
    margin-top: 60px;
    gap: 50px;
}

p, h1, h2, h3{margin:0px;}

p{
    font-size: 20px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 22px;
}

img{
    max-width: 100%; 
    display: block;
}

.header{
    display: grid;
    justify-items: center;
    gap: 60px;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.menu a{
    text-transform: uppercase;
    color: #2d2d2d;
    background-color: white;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.menu a:hover{
    border: 2px solid #ee2211;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.detalhe{
    background-color: #ee2211;
    width: 60px;
    height: 4px;
    position: absolute;
    right: -30px;
    top: 30px;
    border-radius: 5px;
}

.intro{
    display: grid;
    justify-items: end;
    background-color: white;
    text-align: right;
    padding: 50px;
    align-content: center;
    gap: 25px;
    position: relative;
}

.intro .button{
    background-color: #ee2211;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

.vantagens{
    background-color: white;
    padding: 40px;
}

.vantagens-texto{
    text-transform: uppercase;
    text-align: right;
    font-size: 64px;
    color: #c6c6c6;
    align-self: center;
    padding: 40px;
}


.vantagens-info{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 10px 20px;
}

.vantagens-info p{
    grid-column: 2;
}

.vantagens-info h3{
    grid-column: 2;
}

footer{
    background-color: white;
    font-size: 20px;
    width: 100%;
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}